[Unit]
Description=Unmask and start sshd
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'systemctl unmask sshd && systemctl enable --now sshd'

[Install]
WantedBy=multi-user.target